source https://nuget.org/api/v2


nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget Nancy
nuget Nancy.Authentication.Forms
nuget Nancy.Hosting.Self
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx
