source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Nancy
nuget Nancy.Hosting.Self
nuget Nancy.Authentication.Forms

github fsharp/FAKE modules/Octokit/Octokit.fsx
