<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Connect4Challenge</title>
    <script type="text/javascript" src="/js/angularjs.js"></script>
    <script type="text/javascript" src="/js/extend.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/custom/webapp.js"></script>
    <script type="text/javascript" src="/js/custom/webapiclient.js"></script>
    <script type="text/javascript" src="/js/custom/factories/f_gameservice.js"></script>
    <script type="text/javascript" src="/js/custom/controller/gamecontroller.js"></script>
</head>
<body ng-app="cfc" ng-controller="Game_Ctrl" ng-init="init()">
    <p>{{result}}</p>
</body>
</html>