<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Connect4Challenge</title>
    <script type="text/javascript" src="/js/angularjs.js"></script>
    <script type="text/javascript" src="/js/extend.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <!--<script type="text/javascript" src="/js/ng-file-upload-all.min.js"></script>-->
    <script type="text/javascript" src="/js/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/js/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/js/custom/webapp.js"></script>
    <script type="text/javascript" src="/js/custom/webapiclient.js"></script>
    <script type="text/javascript" src="/js/custom/factories/f_gameservice.js"></script>
    <script type="text/javascript" src="/js/custom/controller/gamecontroller.js"></script>
    <style>
        .drop-box {
            background: #F8F8F8;
            border: 5px dashed #DDD;
            width: 170px;
            height: 170px;
            text-align: center;
            padding: 100px 10px 0 10px;
            margin-left: 10px;
        }

        .dragover {
            border: 5px dashed blue;
        }
    </style>
</head>
<body ng-app="cfc" ng-controller="Game_Ctrl" ng-init="init()">
    <p>{{result}}</p>

    <p>Upload your algorithm!</p>
    <div class="drop-box"
         ngf-drop
         ngf-select
         ng-model="playerAssemblyFile"
         ngf-drag-over-class="dragover"
         ngf-multiple="false"
         ngf-allow-dir="true"
         accept=".dll"
         ngf-pattern=".dll">Drop your assembly here or click to select</div>
    <div ng-show="playerAssemblyFile != null">{{playerAssemblyFile.name}}</div>

    <p>Select an enemy!</p>
    <!--<div>
        <label>
            <input type="checkbox"
                   ng-model="isCustomEnemy"
                   ng-value="false"
                   name="enemyselection"
                   required />
            Eigener Gegner
        </label>
    </div>-->
    <!-- <div ng-if="isCustomEnemy">  -->
    <div class="drop-box"
         ngf-drop ngf-select
         ng-model="enemyAssemblyFile"
         ngf-drag-over-class="dragover"
         ngf-multiple="false"
         ngf-allow-dir="true"
         accept=".dll"
         ngf-pattern=".dll">Drop your enemy assembly here or click to select</div>
    <div ng-show="enemyAssemblyFile != null">{{enemyAssemblyFile.name}}</div>
    <!--</div> -->
    <!--<div ng-if="!isCustomEnemy">
        <label ng-repeat="bot in bots">
            <input type="radio"
                   ng-model="$parent.selectedBot"
                   ng-value="bot"
                   name="enemyselection"
                   ng-checked="bot.checked"
                   required />
            {{bot.name}}
        </label>
    </div>-->

    <input type="button" ng-disabled="(playerAssemblyFile == null) || (enemyAssemblyFile == null)" ng-click="upload()" value="Start Fighting!" />
</body>
</html>